/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("src/shared/images/sport.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
